# Compiled object files
*.o

#atlenta files
*.test
*.fault
*.bench

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executable files
*.out
*.exe

# Debug files
*.dSYM/
*.stackdump

# Temporary files
*.tmp
*.temp

# Backup files
*.bak
*.swp

# Build directories
/build/
/dist/
/bin/
/obj/
/lib/

# IDE specific files
.vscode/
.idea/
*.code-workspace

# Logs
*.log
project
c17/*.pattern
c880/*.pattern
1908/*.pattern
2670/*.pattern
5315/*.pattern
6288/*.pattern
7552/*.pattern
